<script src="assets/js/country-data.js"></script>
<script src="assets/js/time-api.js"></script>
<script src="assets/js/clock-engine.js"></script>
<script src="assets/js/odometer.js"></script>
<script src="assets/js/logo-animation.js"></script>
<script src="assets/js/weather-api.js"></script>
<script src="assets/js/earth-3d.js"></script>
<script src="assets/js/animations.js"></script>
<script src="assets/js/page-router.js"></script>
<script src="assets/js/futuristic-loader.js"></script>
<script src="assets/js/page-transitions.js"></script>
<script src="assets/js/swiper-3d-init.js"></script>
<script src="assets/js/brand-slider.js"></script>
<script src="assets/js/explorer-3d.js"></script>
<script src="assets/js/app.js"></script>
{{extra_scripts}}
</body>
</html>
